<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>blog post</h1>

<ol id="post-wrapper">
    test
</ol>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
   $.get('/blog/api/v1/post-list/',
        function (data,textStatus,jqXHR){
            
           wrapper=$('#post-wrapper')
            for (post of data.results){
                wrapper.append(`<li><h2>${post.title}</h2><p>${post.author}</p></li>`)

            }
        });
</script>
</body>
</html>